@{
    ViewData["Title"] = "Admin Panel";
}

<div class="card mb-3 admin-card">
    <div class="row g-0 admin-row">
        <div class="col-md-4 quicklinks_wrapper">
            <ul class="list-group text-center quicklinks">
                <li class="list-group-item text-uppercase">
                    <a asp-controller="Admin" asp-action="SchoolYear" class="h5 text-dark">School Year</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Name</b> @String.Concat(Model.first_name, " ", Model.middle_name, " ", Model.last_name)</li>
                    <li class="list-group-item"><b>Elementary Education</b> @Model.elementary</li>
                    <li class="list-group-item"><b>Junior High School Education</b> @Model.jhs</li>
                    <li class="list-group-item"><b>Senior High Scool Education</b> @Model.shs</li>
                    <li class="list-group-item"><b>Mother</b> @Model.mother</li>
                    <li class="list-group-item"><b>Father</b> @Model.father</li>
                    <li class="list-group-item"><b>Address</b> @Model.address</li>
                    <li class="list-group-item"><b>Date of Birth</b> @Model.dob</li>
                    <li class="list-group-item"><b>Place of Birth</b> @Model.pob</li>
                    <li class="list-group-item"><b>Contact #</b> @Model.contact</li>
                    <li class="list-group-item"><b>Email</b> @Model.email</li>
                    <li class="list-group-item"><b>Date</b> @Model.date</li>
                    <li class="list-group-item"><b>Download File</b> <a href="/files/@Model.filename" download="">click here</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

